<div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 p-5 max-w-md rounded-md border shadow-sm"
>
  <h1 class="font-bold text-2xl text-center">Login</h1>
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <label class="login__label">
      <span class="label__text">E-Mail:</span>
      <input
        class="login__input"
        [ngClass]="{
          login__input_error: emailHasError
        }"
        type="email"
        autocomplete="username"
        formControlName="email"
      />
      <p *ngIf="emailHasRequiredError" class="label__error">
        Must be filled in...
      </p>
      <p *ngIf="emailHasEmailError" class="label__error">
        Must be correct email...
      </p>
    </label>
    <label class="login__label">
      <span class="label__text">Password:</span>
      <input
        class="login__input"
        [ngClass]="{
          login__input_error: passwordHasErrors
        }"
        type="password"
        autocomplete="current-password"
        formControlName="password"
      />
      <p *ngIf="passwordHasRequiredError" class="label__error">
        Must be filled in...
      </p>
      <p *ngIf="passwordHasLengthError" class="label__error">
        The length must be 6 characters
      </p>
    </label>
    <label class="login__label">
      <button
        type="submit"
        class="btn btn-blue max-h-[40px] w-full"
        [disabled]="form.invalid || form.disabled"
      >
        Login
      </button>
      <p *ngIf="loginError" class="label__error text-center w-full">
        {{ loginError }}
      </p>
    </label>
  </form>
  <div class="text-center w-full">
    <a routerLink="/registration" class="underline cursor-pointer">
      or register
    </a>
  </div>
</div>
