<div
  class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 p-5 max-w-md rounded-md border shadow-sm"
>
  <h1 class="font-bold text-2xl text-center">Registration</h1>
  <form class="registration" [formGroup]="form" (ngSubmit)="registration()">
    <label class="registration__label">
      <span class="label__text">E-Mail:</span>
      <input
        class="registration__input"
        [ngClass]="{
          registration__input_error: emailHasError
        }"
        type="email"
        autocomplete="email"
        formControlName="email"
      />
      <p *ngIf="emailHasRequiredError" class="label__error">
        Must be filled in...
      </p>
      <p *ngIf="emailHasEmailError" class="label__error">
        Must be correct email...
      </p>
    </label>
    <label class="registration__label">
      <span class="label__text">Password:</span>
      <input
        class="registration__input"
        [ngClass]="{
          registration__input_error: false
        }"
        type="password"
        autocomplete="current-password"
        formControlName="password"
      />
      <p *ngIf="passwordHasRequiredError" class="label__error">
        Must be filled in...
      </p>
      <p *ngIf="passwordHasLengthError" class="label__error">
        The length must be 6 characters
      </p>
    </label>
    <label class="registration__label">
      <button type="submit" class="btn btn-blue max-h-[40px] w-full">
        Registration
      </button>
      <p *ngIf="registrationError" class="label__error text-center w-full">
        {{ registrationError }}
      </p>
    </label>
  </form>
  <div class="text-center w-full">
    <a routerLink="/login" class="underline cursor-pointer">or login</a>
  </div>
</div>
